<div class="about_header">
  <h1>Spoti-find</h1>
  <br>
  <p>This is an Angular2 application that allows you to search for artists, albums and play song clips.</p>  
</div>

<br>
<br>
<h2>Built With: </h2>
<div class="container">
  <div class="row">
    <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/angular.png">
      <p class="logo_name">Angular 2</p>
    </div>  
    <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/js1.png" alt="">
      <p class="logo_name">Javascript</p>
    </div>
    <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/ts.png" alt="">  
      <p class="logo_name">Typescript</p>
    </div>
        <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/nodejs.png" alt="">
      <p class="logo_name">Node.js</p>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/html.png" alt="">
      <p class="logo_name">HTML 5</p>
    </div>  
    <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/css.png" alt="">
      <p class="logo_name">CSS 3</p>
    </div>
        <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/web.png" alt="">
      <p class="logo_name">Javascript</p>
    </div>
<!--     <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/bs1.png" alt="">
      <p class="logo_name">Bootstrap 4</p>
    </div> -->
        <div class="col-md-3 logos">
      <img class="img-thumbnail" src="images/spotify.png" alt="">
      <p class="logo_name">Spotify API</p>
    </div>
  </div>





     
      
      
      
      