*{
  font-family: 'Roboto', sans-serif;
}

/*.main{
  border-bottom: #333 1px solid;
  padding: 30px 0;
}*/

.artist-header{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #333;
}

.artist-thumb{
  width:80px;
  height:auto;
  float:left;
  margin-right:10px;
}

.artist-albums .well{
  margin-bottom:20px;
  overflow: auto;
  min-height: 400px;
}

.album{
  text-align: center;
  background: #eeeeee;
  padding: 10px 20px;
  border: #666 1px solid;
}

.album-thumb{
  width:100%;
}

.logos{
  width: 30%;
  height: 30%;
  padding: 30px;
  overflow: auto;
}

.logo_name{
  text-align: center;
  max-width: 223px;
  margin-top: 30px;
  font-size: 30px;
}

.img-thumbnail {
  height: 223px !important;
  max-width: 223px !important;
  background: #eeeeee !important;
}

.search-header{
  padding-bottom: 10px;
}

.home-img{
  text-align: center;
}

.home-img img{
  text-align: center;
  padding-bottom: 10px;
}

.home-icon-text{
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

#home-header{
  padding-bottom:70px;
  text-align: center;
  color: #317eac;
}

.jumbotron{
  align-items: center;
  vertical-align: middle;
  margin-top: 75px;
}

footer{
  padding: 30px;
}

footer img{
  padding-right: 7px;
  float: right;
}